
html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('minion.gif') center / contain;
}

button{
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(39, 37, 165);
    font-weight: 600;
    background-color: rgb(255, 253, 110);
    border: 3px solid rgb(60, 58, 160);
    margin: 0 0 35% 0;
    border-radius: 5px;
}

button:hover{
    filter: brightness(105%);
}

button:active{
    transform: scale(0.98);
}

button:disabled{
    cursor: default;
    filter: brightness(30%);
}
button:disabled:active{
    transform: none;
}

@media screen and (max-width: 1000px){
    .container{
        background-size: cover;
        background-position: center;
    }

    button{
        box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
    }
}